extends base.pug
 
block scripts 
  script(src='/static/index.js') 

block style 
    style 
      include  ../static/style.css 
 
 
 
 
block content 
          
  <nav id="navbar">
    <div class="log"><img src="/static/img/logimg.png" alt=""></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Services</a></li>
      <li><a href="/">Class info</a></li>
      <li><a href="/Contact">Contact us</a></li>
    </ul>
  </nav>
  <section class="intro">
    <div class="one">Welcome to Dance Factory</div>
      <div class="two">Just Eat Dance Sleep Repeat</div>
  </section>
  <h1 class="mission">Our Mission</h1>
  <section class="above">
    
    <div class="card">learn your Dream Dance
      <div class="cardimg">
        <img src="/static/img/png1.jpg" alt="">
      </div>
    </div>
    <div class="card">Grow your skills
      <div class="cardimg">
        <img src="/static/img/png3.jpg" alt="">
      </div>
    </div>
    <div class="card">Enjoy your soul
      <div class="cardimg">
        <img src="/static/img/png2.jpg" alt="">
      </div>
    </div>
  </section>
  <h1 class="sph">Our Sponsers</h1>
  <section class="sponser">
    <!-- <h1> class="sph">Our Sponsers</h1> -->
    <div class="sp">
      <img src="/static/img/client1.jpg" alt="">
    </div>
    <div class="sp">
      <img src="/static/img/client2.jpg" alt="">
    </div>
    <div class="sp">
      <img src="/static/img/client3.jpg" alt="">
    </div>
    <div class="sp">
      <img src="/static/img/client4.jpg" alt="">
    </div>
    </section>
    <footer class="footer">  <h2>Copyright@2023| All rightreserved</h2></footer>
    <!-- <footer class="footer">  <h2>Copyright@2023| All rightreserved</h2></footer>  -->