.contactform{
    display: flex;
    flex-direction: column;
     width: 70%;
     justify-content: center;
    margin:  80px auto;
    padding: 5px;
    outline: none;
    background: rgb(240, 75, 75);

}
.container{
    background: rgb(240, 75, 75);
}
.first{
    margin: 3px;
    outline: none;
    padding: 5px;
}
.head{
    display: flex;
    justify-content: center;
    background: rgb(249, 252, 66);
}